body {
    background-color: hsl(0, 0%, 100%);
}

#life {
    display: flex;
    float: left;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background: #333333;
    margin-bottom: 20px;
}

.cell {
    border: 1px solid #000;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    font-size: 10px;
    font-family: verdana, sans-serif;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    color: #ff8800;
    transition: background-color, 700ms;
}

.cell:hover {
    background-color: #bbb !important;
    transition: background-color, 100ms;
}

.cell.live {
    background: #fff;
}

.cell.dead {
    background: #3f3f3f;
}

#controls {
    float: left;
    width: 100px;
    margin-left: 20px;
    padding: 10px;
}

label[for] {
    cursor: pointer;
}

button {
    cursor: pointer;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 17px;
    border-radius: 4px;
}

button.glyph {
    display: inline-block;
    font-size: 30px;
    margin-right: 10px;
    padding: 0;
    width: auto;
    background: transparent;
    border: none;
    outline: none;
    font-family: arial;
}

.players-panel {
    float: none;
    clear: both;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}

.players-panel .player {
    display: inline-block;
    width: 45px;
    height: 45px;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-family: Arial;
    margin-bottom: 10px;

}

.players-panel .player.me {
    box-shadow: hsl(188, 93%, 51%) 0 0 4px 1px;
}
